# Build with clang (rather than the default of gcc) since clang compiles
# templates faster and produces better error messages.
build --action_env=CC=clang

# When we use C++, we use C++17.
build --cxxopt='-std=c++17'
build --host_cxxopt='-std=c++17'

build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address